/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #111;
  color: #eee;
  max-width: 100vw;
  overflow: hidden;
  z-index: -1000;
}

h1 {
  color: #FF8A82;
  font-family: 'Monoton', cursive;
  font-size: 15vw;
  font-weight: initial;
  position: relative;
  text-align: center;
}

h1::before {
  content: attr(title);
  position:absolute;
  -webkit-text-stroke: 0.23em #111;
  z-index:-100;
}

.main-subtitle {
  background-color: #484770;
  color: #eee;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: initial;
  letter-spacing: 5px;
  margin: 0 auto;
  padding: 180px 50px 10px 50px;
  position: relative;
  text-align: center;
  top: -200px;
  z-index: -100;
}

@media only screen and (max-width: 500px) {
  .main-subtitle {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

@media only screen and (max-height: 500px) {
  h1 {
    font-size: 35px;
  }
  .main-subtitle {
    font-size: 14px;
  }
  .discord-svg {
    top: 5px !important;
    width: 50px !important;
  }
}

.discord-svg {
  color: #8CDBB7;
  left: 7vw;
  position: absolute;
  top: 10vh;
  transform: rotate(-25deg);
  width: 13vw;
  z-index: -50;
  animation: discordButtonAnimate 2s;
  -webkit-animation: discordButtonAnimate 2s;
}

@media only screen and (max-width: 1000px) {
  .discord-svg {
    width: 10vw;
    top: 30px;
  }
}

.example {
  background-color: #8CDBB7;
  border: 5px solid #111;
  bottom: 100px;
  color: #111;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 7px;
  outline: 2px solid #8CDBB7;
  padding: 10px;
  position: absolute;
  right: -175px;
  text-align: center;
  min-width: 600px;
  transform: rotate(-45deg);
}

.chat-embed {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.app-component i {
  font-size: 40px;
}


/* KEYFRAMES FOR CSS ANIMATION */
@-webkit-keyframes discordButtonAnimate {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0), rotate(-25deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0), rotate(-25deg);
    transform: translate3d(10px, 0, 0), rotate(-25deg);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0), rotate(-25deg);
    transform: translate3d(-5px, 0, 0), rotate(-25deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0), rotate(-25deg);
    transform: translate3d(0, 0, 0), rotate(-25deg);
  }
}

@keyframes discordButtonAnimate {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0), rotate(-25deg);
    transform: translate3d(10px, 0, 0), rotate(-25deg);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0), rotate(-25deg);
    transform: translate3d(-5px, 0, 0), rotate(-25deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0), rotate(-25deg);
    transform: translate3d(0, 0, 0), rotate(-25deg);
  }
}
